requests~=2.31.0
openai~=0.27.8
colorama~=0.4.6
python-dotenv~=1.0.0
termcolor~=2.3.0
tqdm~=4.65.0
streamlit~=1.23.1
google-serp-api
google-search-results
tiktoken~=0.6.0
pyterrier
pandas
trafilatura
matplotlib==3.7.1
plotly==5.13.1
scipy==1.10.1
scikit-learn==1.2.1
python-docx==0.8.11
python-pptx==0.6.21
pyyaml
python-googlesearch
lxml
googlesearch-python==1.1.1
g4f
Gunicorn
Flask
Werkzeug==2.2.2
python-dotenv
httplib
python-googlesearch
sumy
gensim
tiktoken
torch
together