requests
openai
colorama
python-dotenv
termcolor
tqdm
streamlit
google-search-results
tiktoken
pyterrier
pandas
trafilatura
matplotlib
plotly
scipy
scikit-learn
python-docx
python-pptx
pyyaml
lxml
g4f
Gunicorn
Flask
Werkzeug
python-dotenv
sumy
gensim
tiktoken
torch
together
transformers
llama-index-embeddings-together
llama-index
typing